TALENT_PROTOCOL_API_URL=
TALENT_PROTOCOL_API_KEY=
NEXT_PUBLIC_TALENT_PROTOCOL_WEBSITE_URL=
REVALIDATION_TOKEN=
BUILDER_REWARDS_URL=
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WARPCAST_URL=https://warpcast.com
NEXT_PUBLIC_TALENT_PROTOCOL_URL=https://talentprotocol.com
NEXT_PUBLIC_BUILDER_SCORE_URL=https://builderscore.xyz